

{% extends "base.html" %}
{% load i18n %}
{% load humanize %}

<div id="content">
    {% block content %}
         {% if user.is_authenticated %}
        <!-- Sidebar -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">

                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                        </div>
                    </li>
                    <li>
                        <a href="{% url 'index' %}" class="active"><i class="fa fa-home fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-desktop fa-fw"></i> BIRS<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'transactions' %}"><i class="fa fa-book fa-fw"></i>Transactions</a>
                            </li>        
                            
                    </li>


            </div>
        </div>
<!--Sidebar End-->
    <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">{{ details.payment_reference }} </h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                    

                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Transaction Parameters
                            </div>

                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Transaction Details</th>
                                                <th>Value</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">Payment Method</th>
                                                <td>{{ details.payment_method }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Amount(KSH)</th>
                                                <td>{{ details.amount|intcomma }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Invoice Number</th>
                                                <td>{{ details.invoice_number }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Account Number</th>
                                                <td>{{ details.account_number }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Transaction Date</th>
                                                <td>{{ details.transaction_date }}</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-6 -->
                     <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Details of Customer
                            </div>

                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Customer Details</th>
                                                <th>Value</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">Mobile Number</th>
                                                <td>{{ details.mobile_number }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">First Name</th>
                                                <td>{{ details.first_name }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Middle Name</th>
                                                <td>{{ details.middle_name }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Last Name</th>
                                                <td>{{ details.last_name }}</td>
                                            </tr>
                                            

                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-6 -->



                </div>


            </div>
    {% else %}
<div class="row">
    <div class="col-lg-12">
         <h1 class="page-header"></h1>
     </div>
     <!-- /.col-lg-12 -->
</div>
<div class="container">
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-10">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                BIRS Portal
                            </div>
                            <div class="panel-body">
                                <p><h4>Welcome, Would you like to <a href="{% url 'auth_login' %}">Log In?</a> You can also request to be registered at <a href="mailto:info@quoxient.co.ke">info@quoxient.co.ke</a></h4></p>
                            </div>
                            
                        </div>
                    </div>
                </div>

</div>
       
    {% endif %}

    {% endblock %}
</div>
    {% block footer %}
    {% endblock %}
    {% block scripts %}
    {{ block.super }}



    {% endblock %}
